

<nav id="nav" class="navbar navbar-inverse blueE">
    <div class="container-fluid ">
		<div class="navbar-header">
	        <a class="navbar-brand boldE " href="#">NavUP</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right navigation">
	        <li class="active" id="home" ><a href="" ng-click="home()">Home</a></li>
            <li id="profileNav" ng-show="profileNav"><a href="" ng-click="profile()">Profile</a></li>
            <li id="navigateNav" ng-show="navigateNav"><a href="" ng-click="navigate()">Navigate</a></li>
            <li id="poiNav" ng-show="poiNav"><a href="" ng-click="poi()">Points of Interest</a></li>
            <li id="manageGisNav" ng-show="manageGisNav"><a href="" ng-click="manageGis()">Manage GIS</a></li>
            <li id="manageUsersNav" ng-show="manageUsersNav"><a href="" ng-click="manageUsers()">Manage Users</a></li>
            <li id="manageLocationsNav" ng-show="manageLocationsNav"><a href="" ng-click="manageLocations()">Manage Locations</a></li>
            <li><a href="/">Log Out</a></li>
	    </ul>
    </div>
</nav>

<script type="text/javascript">
	document.getElementById('ImageHolder').className += ' backgroundE';
</script>




